body {
    font-family: 'Arial', sans-serif;
  }
  
  .dashboard-container {
    width: 80%;
    margin-left: 270px;
  }
  
  .table {
    width: 45%;
    margin: 20px;
  }

  .profile-header1{
    margin-left: 0px;
  }
  
  .profile-header1 h2 {
    margin: 0px;
    padding-top: 10px;
    text-align: start;
    font-size: 30px;
    font-weight: bold;
  }
  
  .profile-header1 p {
    color: gray;
    margin-top: 5px;
  }

  .hrr{
    margin-top:0rem;
  }
  
  .value-report{
    text-align: left;
  }

  .table th, .table td{
    font-size: 15px;
  }

  .items-per-page{
    padding-left: 20px;
  }

  .items-per-page label{
    font-size: 15px;
  }

  .pagination{
    padding-left: 40px;
  }

  .title-table{
    margin-left: 30px;
  }