.admin-container{
  display: flex;
}
.contentt {
  width: 80%;
  margin-left: 20px;
}


.profile-header1{
  margin-left: 0px;
}

.profile-header1 h2 {
  margin: 0px;
  padding-top: 10px;
  text-align: start;
  font-size: 30px;
  font-weight: bold;
}

.profile-header1 p {
  color: gray;
  margin-top: 5px;
}

.hrr{
  margin-top:0rem;
}

.sidebar {
    width: 100%;
    max-width: 250px;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

/* Header */
.profile-header {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
}

.profile-header h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.profile-header p {
    margin: 5px 0;
    font-size: 14px;
    color: #888;
}
.edit-profile-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9e9a9; /* Light yellow background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 70px;
  }
  
  .edit-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
  }
  
  .right-section {
    text-align: center;
  }
  
  .avatar-circlee {
    width: 200px;
    height: 200px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: 10px 0;
  }

  .avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .actions{
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .change-btn {
    background-color: #b0a292;
    border: none;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .save-btn {
    margin-top: 20px;
    display: inline-block;
    width: 100px;
    padding: 10px;
    background-color: #28c76f;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .save-btn:hover,
  .change-btn:hover {
    background-color: #1da54a;
  }
  

  .back-button{
    padding-left: 3px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .back-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
