.customer-table-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .customer-subtable-container{
    width: 80%;
    margin-left: 270px;
  }
  
  /* header CSS */
  .avatar-circle {
    width: 50px;
    height: 50px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin: 20px 0px;
  }

  .profile-header1{
    margin-left: 0px;
  }
  
  .profile-header1 h2 {
    margin: 0px;
    padding-top: 10px;
    text-align: start;
    font-size: 30px;
    font-weight: bold;
  }
  
  .profile-header1 p {
    color: gray;
    margin-top: 5px;
  }

  .hrr{
    margin-top:0rem;
  }
  /* header CSS */
  
  .search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  
  .search-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
  }
  
  .search-container button {
    padding: 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
  }
  
  .customer-table1 {
    width: 100%;
    border-collapse: collapse;
  }
  
  .customer-table1 th, .customer-table1 td {
    padding: 12px;
    margin: 0;
    text-align: center;
    border: 1px solid #ddd;
  }

  .customer-table1 td {
    background-color: rgb(187, 185, 185);
    color: #797979;
  }
  
  .customer-table1 th {
    background-color: #f5a623;
    color: white;
  }
  
  .customer-table1 td.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .customer-table1 td.actions button i {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .customer-table1 tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .pagination span {
    margin: 0 5px;
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 800px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .yes-button, .no-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
  }
  
  .yes-button {
    background-color: #333;
    color: #fff;
  }
  
  .no-button {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
  }

  .lock, .view{
    color: black;
    cursor: pointer;
  }
  