.customer-table-container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .customer-subtable-container{
    width: 80%;
    margin-left: 270px;
  }
  
  .back-button{
    padding-left: 3px;
    padding-bottom: 10px;
  }

  .back-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .header h2 {
    margin: 0px;
    padding-top: 10px;
    text-align: start;
    font-size: 26px;
    font-weight: bold;
  }
  
  .header p {
    color: gray;
    margin-top: 5px;
  }

  .card{
    background-color: rgb(255, 228, 200);
  }

  .profile-img{
    text-align: start;
  }

  .address{
    text-align: start;
  }

  .banned-reason{
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 50px;
  }
  .banned-reason p {
    margin: 0;
  }

  .table th {
    background-color: rgb(160, 244, 228);
    text-align: center;
  }
  .col-id{
    text-align: center;
  }

  .view-detail-order{
    font-size: 25px;
  }

  .view-detail-button{
    margin: 0px 10px 0px 0px;
    padding: 0;
    border-radius: 5px;
    border: none;
  }

  .forward-oMana{
    width: 20px;
    height: 20px;
    color: white;
    background-color: rgb(64, 154, 244);
    border-radius: 5px;
  }

