.main__wrap {
    display: flex;
}

.product__detail--wrap {
    margin-left: 250px;
    flex: 1;
    height: 100vh;
    padding: 10px;
    border-radius: 20px;
    padding: 20px;
}

.product__detail--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__detail--title {
    text-align: left;
}

.admin__avater img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

/* Product Item */
.link__back {
    text-align: left;
    margin-bottom: 20px
}

.back__icon {
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.back__icon:hover {
    color: #05775E;
    font-weight: 800;
    transition: all ease-in-out 0.2s;
}

.productDetail__body__wrap {
    background-color: #F0E8D6;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.productDetail__body--head {
    position: relative;
    margin-bottom: 25px;
}

.productDetail__body--title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.productDetail__subtitle {
    text-align: left;
}

.productDetail__item {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
}

#showCate {
    width: 60%;
    margin-left: 20px;
}

.product__image--wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pro__title {
    text-align: left;
    width: 30%;
}

.image {
    width: 200px;
}

.cake__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product__content {
    width: calc(50% - 100px);
}

.cake__name {
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pro__title {
    font-weight: 700;
}


#pro__des {
    margin-left: 20px;
    width: 60%;
}

#pro__size {
    margin-left: 20px;
    width: 60%;
}

#pro__quantity {
    margin-left: 20px;
    width: 60%;
}

#pro__price {
    margin-left: 20px;
    width: 60%;
}

.pro__item__image {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 20px;
}

.description__title {
    margin: 20px 0;
    text-align: left;
    font-size: 20px;
}


.product__des--wrap {
    display: flex;
    align-items: center;
}

.pro__des--title {
    width: 30%;
    text-align: left;
}

#pro__des--info {
    width: 60%;
    margin-left: 20px;
}
