/* Container */
.title{
  font-size: 50px;
  text-align: center;
}

.login-container {
  display: flex;
  height: 100vh;
}

/* Left Side (Sign-in) */
.login-left {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}

.login-left h1 {
  margin-bottom: 20px;
}

.formGroup{
  padding-top: 50px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group label {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.input-group input {
  margin-left: 10px;
  width: 100%;
  min-width: 450px;
  padding: 20px;
  background-color: rgb(255, 248, 239);
  border: 0px solid #ccc;
  border-radius: 20px;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: right;
  font-weight: bold;
  padding-right: 100px;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

.btn-login-div{
  text-align: center;
}

.login-btn {
  background-color: #4d3e26;
  color: rgb(225, 193, 110);
  border: none;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #3a2e1e;
}



/* Right Side (Welcome) */
.login-right {
  flex: 1;
  background-image: url('/public/images/login-image.jpg'); /* Add background image here */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  position: relative;
  border-radius: 30px 0px 0px 30px;
}

/* Blur Effect */
.login-right::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 188, 107, 0.6); /* Light overlay for frost effect */
  backdrop-filter: blur(1px); /* Blur effect */
  -webkit-backdrop-filter: blur(1px); /* Safari support */
  z-index: 0;
  border-radius: 30px 0px 0px 30px;
}

.logo-img{
  background-image: url('/public/images/logo2.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  z-index: 1;
  border-radius: 50%;
}

.login-right h2 {
  font-size: 50px;
  margin-bottom: 10px;
  color: white;
  z-index: 1;
}

.p-1, .p-2{
  font-size: 20px;
  color: white;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.p-1{
  margin-bottom: 0;
}

.p-2 {
  margin-bottom: 30px;
}

.user-icon {
  width: 200px;
  height: 70px;
  border: 4px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  z-index: 1;
}

.user-icon > a{
  text-decoration: none;
  color: white;
  padding: 23px 55px;
  font-weight: bold;
}

.message{
  color: red;
}
