
.password-reset-container {
    height: 100vh;
    background-color: #d9b96b; /* The yellowish background */
  }
  
  .password-reset-card {
    width: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1.2rem;
    color: #333;
  }
  label{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .form-container{
    text-align: center;
    align-items: center;
  }
  
  .form-control1 {
    border-radius: 30px;
    padding: 10px;
  }
  
  .btn-success {
     /* Blue color for button */
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
  }
  
  .back-btn{
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: black;
  }
  .back-container{
    margin-right: 10px;
  }
