
.password-reset-container {
    height: 100vh;
    background-color: #d9b96b; /* The yellowish background */
  }
  
  .password-reset-card {
    width: 700px;
    background-color: rgb(255, 245, 197);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1.2rem;
    color: #333;
  }
  
  .form-control1 {
    border-radius: 30px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #5bc0de; /* Blue color for button */
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
  }
  
  .btn-primary:hover {
    background-color: #4aa3bf;
  }
  
  .back-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: black;
  }
  .back-container{
    margin-right: 10px;
  }
  .form-container{
    text-align: center;
    align-items: center;
  }
